@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
        ::-webkit-scrollbar {
            display: none;
        }
        :root {
            -ms-overflow-style: none;
            scrollbar-width: none;
        }
}

/* Tailwind Styles */
.btn {
    @apply sm:hover:bg-[#4A4A4A] sm:hover:border-[#4A4A4A] sm:hover:text-white active:text-[#D4A373] active:bg-[#1E1E1E] ease-linear duration-[0.05s] sm:hover:scale-[1.06] active:translate-y-1;
}

.txt {
    @apply hover:text-[#2B3136] active:text-[#D4A373] ease-linear duration-[0.05s] hover:scale-[1.06] active:scale-[0.95];
}

.flex-center {
    @apply flex justify-center items-center;
}

.flex-start {
    @apply flex justify-start items-start;
}

.flex-end {
    @apply flex justify-end items-center;
}

.flex-between {
    @apply flex justify-between items-center;
}
